<div class="container">
  <div class="card card-success">
    <ng-container *ngIf="updateProduktForm">


      <div class="card-header">
        <h3 class="card-title">{{Titel1}}</h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <ng-container >
        <form class="form-horizontal" [formGroup]="updateProduktForm" (ngSubmit)="onSubmit()">
          <div class="card-body">
            <div class="form-group row">
              <label for="name" class="col-sm-2 col-form-label">Name :</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="name" id="name">
              </div>


            </div>


            <div class="form-group row">
              <label for="price" class="col-sm-2 col-form-label">Price :</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" formControlName="price" id="price" >
              </div>


            </div>


            <div class="form-group row">
              <label for="quantity" class="col-sm-2 col-form-label">Quantity :</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" formControlName="quantity" id="quantity" >
              </div>


            </div>




            <div class="form-group row">
              <label for="verfuebarkeit1" class="col-sm-2 col-form-label">Verfügbarkeit :</label>
              <div class="col-sm-10">
                <input  type="button"  (click)="onIntensiv()" id="verfuebarkeit1" [ngClass]="verfuebarkeit1  ?'btn btn-success' : 'btn btn-danger'" formControlName="verfuebarkeit"   [value]="valeur" />
              </div>
            </div>

          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-success">Änderungsumsetzung</button> &nbsp; &nbsp; &nbsp; &nbsp;
            <button type="button" class="btn btn-danger float-right">Abbrechen</button>
          </div>
        </form>
      </ng-container>
    </ng-container>
  </div>
</div>
